html { background-color: #fff; } 
body {
    min-height: 452px;
    max-width: 320px;
    background-color: papayawhip; 
    margin: 0 auto;
}
.ml15 {
  font-weight: 800;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px;
}

.ml15 .word {
  display: table;
  line-height: 1em;
}
