html { background-color: transparent; } 
body {
    min-height: 450px;
    max-width: 320px;
    background-color: transparent;
    margin: 0 auto;
}
.ml15 {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 30px;
}

.ml15 .word {
  display: table;
  line-height: 1em;
}
